.global-wrapper {
  width: auto;
  height: 99vh;

  left: 0;

  border: 1px solid black;

  font-size: 9px;
  text-align: center;
}


.page-header {

  width: 280px;
  margin: auto;

  @media #{$tablet-widths} {

  }


  &__logo-wrapper {

    left: 0;

    display: flex;
    text-align: left;

    @media #{$desktop-widths} {

    }
  }

  &__text {
    margin-left: 10px;
    font-size: 15pt;
  }

  &__logo {

    margin-top: 13px;
    @media #{$tablet-widths} {

    }

    @media #{$desktop-widths} {

    }
  }
}

.slider{
  height: 180px;
}


.slider__wrap {
  width: 280px;
  height: 250px;
  margin: auto;

  //border-radius: 20px;
  background-color:#f4f4f4;

  box-shadow: #D4D4D4 1px 1px 6px;
}

.buttons {
  font-size: 12pt;
  position: relative;
  top: 30px;
}

.featured-main {
  display: inline-block;
  width: 25%;
}
.page-footer{
  position: fixed;
  margin: auto;
  width: 100%;
  bottom: 20px;
}
